<% provide(:title, "Help") %>

<h1>Help</h1>
<h2>Help will be coming shortly. Hang tight my dude.</h2> <br>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>
						
					</p>
				</div>
			</div>
		</div>
	</div>