
<div class="center jumbotron">
	<h1>Brian's Projects</h1>
	<h2>Welcome to the home page</h2>
</div>

	<div>
		<div class="container">
			<div class="col-md-6">
				<p>
					I hope to house a selection of project I have worked on, as well as some web based tools, in this site.
				</p>
			</div>
		</div>
	</div>